*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-intership nav{
    background-color: white;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}
.logo-intership{
    max-width: 230px;
    width: 100%;
}
.button-width{
    min-width: 100px;
}
.header-menu{
    justify-content: flex-end;
}
.ul-decoration li{
    margin-left: 15px;
}
.ul-decoration li a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    margin: 0 10px;
}
.ul-decoration li a:hover{
    border-bottom: 2.5px solid #526DB4;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.div-margin-left{
    margin-left: 50px;
}
.list-style{
    list-style: none;
}
.list-style a img{
    margin: 20px;
}
.logo-facebook{
    max-width: 60px;
    width: 100%;
}
#activ{
    border-bottom: 2.5px solid #526DB4;
}
.margin-button{
    margin-left: 50px;
}
.button-clos{
    border: none;
    font-size: 35px;
    color: var(--bs-navbar-color);
    margin-top: 35px;
    background-color: white;
    transform: rotate(180deg);
}
.header-responsiv-footer-color{
    color: #526DB4;
}
.meet-team{
    margin: 20px auto;
    text-align: center;
}
.meet-team h2{
    color: #526DB4;
}
.meet-team p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
}
.grup-img{
    text-align: center;
}
.cards-img img{
    max-width: 350px;
    width: 100%;
}
.h3-card-size{
    font-size: 30px;
}
.footer-intership{
    background-color: #526DB4;
    padding: 50px 0;
}
.footer-intership-link{
    margin: 40px 0px 40px 50px;
    text-decoration: none;
}
.footer-intership-left img{
    max-width: 230px;
    width: 100%;
}
.footer-intership-right{
    text-align: right;
    margin-top: 30px;
}
.footer-div-top a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.footer-div-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}
.footer-div-bottom p{
    color: white;
    font-size: 25px;
}
.footer-div-bottom ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.footer-div-bottom ul li{
    margin: 0 10px;
}
.footer-div-bottom ul li a img{
    max-width: 50px;
    width: 100%;
}
@media (max-width:991px){
    .footer-intership-right{
        text-align: left;
    }
    .footer-div-bottom{
        justify-content: space-between;
    }
    .footer-div-bottom{
        margin-left: 50px;
    }
    .h3-card-size{
        font-size: 28px;
    }
}